<h1>
  <%= @job_offer.name %>
</h1>


<% if user_signed_in? %>

  <%= link_to 'Like Job Offer',
      {:controller => :job_offers, :action => :like_job_offer,
       :id => @job_offer.id}, {:method => :post} %>

<% end %>
